#ctrl_cookieGroups tr td:nth-child(3) button
,#ctrl_cookieGroups tr td:nth-child(3) button
{
	display: none;
}
#ctrl_cookieGroups tr:nth-last-child(1) td:nth-child(3) button:nth-child(1)
,#ctrl_cookieGroups tr:nth-last-child(1) td:nth-child(3) button:nth-child(2)
,#ctrl_cookieGroups tr:nth-last-child(1) td:nth-child(3) button:nth-child(3)
 {
	 display: inline;
 }
#tl_module_cookieTools_1 .delete
, #tl_module_cookieTools_2 .delete
, #tl_module_cookieTools_3 .delete
{
	display: none;
}
#table_fieldpalette_cookieTools_paginate, #table_fieldpalette_otherScripts_paginate,#table_fieldpalette_cookieTools_length,#table_fieldpalette_cookieTools_filter,#table_fieldpalette_otherScripts_length,#table_fieldpalette_otherScripts_filter,#table_fieldpalette_cookieTools_info,#table_fieldpalette_otherScripts_info {
	display: none;
}
.tl_error,.tl_info{
	background-position: left 2px !important;
}
#tl_fieldpalette .fieldpalette-form-container {
	overflow-y: scroll !important;
}
#tl_fieldpalette .tl_submit_container {
	position: inherit !important;
}
#tl_fieldpalette #saveNclose, #tl_fieldpalette #sbtog {
	display: none;
}
.ncoi---list--container p{
	display: none;
}
.ncoi---list--container .ncoi---list--list {
	min-height: 45px;
	padding-left: 1em;
	cursor: default;
}
.ncoi---list--container .ncoi---list--list li {
	list-style: outside;
}