#ctrl_cookieGroups li:nth-child(1) :nth-child(3) {
	display: none;
}
#tl_module_cookieTools_1 .delete
, #tl_module_cookieTools_2 .delete
, #tl_module_cookieTools_3 .delete
{
	display: none;
}
#table_fieldpalette_cookieTools_paginate, #table_fieldpalette_otherScripts_paginate,#table_fieldpalette_cookieTools_length,#table_fieldpalette_cookieTools_filter,#table_fieldpalette_otherScripts_length,#table_fieldpalette_otherScripts_filter,#table_fieldpalette_cookieTools_info,#table_fieldpalette_otherScripts_info {
	display: none;
}
.tl_error,.tl_info{
	background-position: left 2px !important;
}
#tl_fieldpalette .fieldpalette-form-container {
	overflow-y: scroll !important;
}
#tl_fieldpalette .tl_submit_container {
	position: inherit !important;
}
#tl_fieldpalette #saveNclose, #tl_fieldpalette #sbtog {
	display: none;
}