.ncoi---behind .ncoi---container {
  background: black;
  color: white;
}
.ncoi---behind .ncoi---container .ncoi---actions .ncoi---action a {
  background: rgba(255, 255, 255, 0.5);
  color: white;
}
.ncoi---behind .ncoi---container .ncoi---actions .ncoi---action a:hover {
  background: rgba(255, 255, 255, 0.6);
}
.ncoi---behind .ncoi---container .ncoi---actions .ncoi---action.ncoi---link-primary a {
  background: #090;
}
.ncoi---behind .ncoi---container .ncoi---actions .ncoi---action.ncoi---link-primary a:hover {
  background: #006600;
}
.ncoi---behind .ncoi---footer .ncoi---link,
.ncoi---behind .ncoi---table .ncoi---link,
.ncoi---behind .ncoi---footer .ncoi---link,
.ncoi---behind .ncoi---table .ncoi---link {
  color: rgba(255, 255, 255, 0.5);
}
.ncoi---behind .ncoi---footer .ncoi---link:hover,
.ncoi---behind .ncoi---table .ncoi---link:hover {
  color: white;
}
.ncoi---behind .ncoi---table table {
  background: rgba(0, 0, 0, 0.05);
}
.ncoi---behind .ncoi---table table tbody tr {
  background-color: transparent;
}
label.ncoi---sliding i {
  background: rgba(255, 255, 255, 0.5);
}
label.ncoi---sliding i:before {
  background: white;
}
[type=checkbox].ncoi---sliding:checked + label.ncoi---sliding i {
  background: #090;
}
[type=checkbox].ncoi---sliding:disabled + label.ncoi---sliding i {
  background: rgba(255, 255, 255, 0.2);
}
