services:
  _defaults:
    autoconfigure: true
    public: true

  _instanceof:
    Symfony\Bundle\FrameworkBundle\Controller\AbstractController:
      calls:
        - [ setContainer, [ '@Psr\Container\ContainerInterface' ] ]

  Netzhirsch\CookieOptInBundle\Controller\ConsentController:

  Netzhirsch\CookieOptInBundle\Controller\CookieController:
      - '@request_stack'

  Netzhirsch\CookieOptInBundle\Controller\LicenseController:

  Netzhirsch\CookieOptInBundle\EventListener\GetSystemMessagesListener:

  Netzhirsch\CookieOptInBundle\EventListener\PageLayoutListener:

  Netzhirsch\CookieOptInBundle\EventListener\ParseFrontendTemplateListener:

  Netzhirsch\CookieOptInBundle\EventListener\ReplaceInsertTag: